
<%= form_for(@evaluation) do |f| %>
  <% if @evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
        <% @evaluation.errors.full_messages.each do |msg| %><li><%= msg %></li><% end %>
      </ul>
    </div>
  <% end %>
      <div class="form-group">
      <%= f.label :place_id, 'Place', :class => "control-label" %>
    <%= f.select('place_id', options_from_collection_for_select(@places, :id, :name), class: "dropdown") %>
    </div>
      <div class="form-group">
      <%= f.label :internet, t('app.models.evaluation.bs_attributes.internet', :default => 'internet').capitalize, :class => "control-label" %>
      <%= f.number_field :internet, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :food, t('app.models.evaluation.bs_attributes.food', :default => 'food').capitalize, :class => "control-label" %>
      <%= f.text_field :food, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :drink, t('app.models.evaluation.bs_attributes.drink', :default => 'drink').capitalize, :class => "control-label" %>
      <%= f.text_field :drink, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :service, t('app.models.evaluation.bs_attributes.service', :default => 'service').capitalize, :class => "control-label" %>
      <%= f.number_field :service, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :price, t('app.models.evaluation.bs_attributes.price', :default => 'price').capitalize, :class => "control-label" %>
      <%= f.number_field :price, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :accomodation, t('app.models.evaluation.bs_attributes.accomodation', :default => 'accomodation').capitalize, :class => "control-label" %>
      <%= f.number_field :accomodation, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :noyse, t('app.models.evaluation.bs_attributes.noyse', :default => 'noyse').capitalize, :class => "control-label" %>
      <%= f.number_field :noyse, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :general, t('app.models.evaluation.bs_attributes.general', :default => 'general').capitalize, :class => "control-label" %>
      <%= f.number_field :general, :class => "form-control" %>
    </div>
<!-- Beautiful_scaffold - AddField - Do not remove -->
  <div>
    <%= f.submit :class => "btn btn-primary", :data => { :disable_with => t(:saving, :default => "Saving...") } %>
  </div>
<% end %>


