<h2><%= t(:editing, :default => 'Editing') %> <%= t('app.models.evaluation.bs_caption', :default => 'evaluation') %></h2>

<%= render 'form' %>

<%= link_to t(:back, :default => "Back"), evaluations_path, :class => "btn btn-default" %>