<h2> My Evaluations  </h2>

<p>
  <%= link_to '<i class="fa fa-plus"></i> '.html_safe + t(:new, :default => "New") + ' ' + t('app.models.evaluation.bs_caption', :default => 'evaluation'), new_evaluation_path, :class => "btn btn-default" %>
  <% if Evaluation.columns.map(&:name).include?("evaluation_id") then %>
    <%= link_to '<i class="fa fa-folder-close"></i> '.html_safe + t(:treeview, :default => "Treeview") + ' ' + t('app.models.evaluation.bs_caption', :default => 'evaluation'), treeview_evaluations_path, :class => "btn btn-default" %>
  <% end %>
</p>


<%# Set your scopes below (string in array) %>
<% scopes = [] %>
<% if not scopes.blank? then %>
<div class="btn-toolbar">
  <div class="btn-group">
    <%= link_to "All (#{@evaluation_scope_for_scope.count})", evaluations_path(:scope => ""), :class => "btn btn-default #{((session[:scope][:evaluation].to_s == '') ? 'active' : '')}" %>
    <% for scope in scopes %>
    <%= link_to "#{scope} (#{@evaluation_scope_for_scope.send(scope).count})", evaluations_path(:scope => scope), :class => "btn btn-default #{((session[:scope][:evaluation].to_s == scope) ? 'active' : '')}" %>
    <% end %>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <a class="btn btn-xs btn-default" id="hide-menu-btn">
      <i class="fa fa-caret-left"></i>
      <i class="fa fa-caret-left"></i>
    </a>
    <a class="btn btn-xs btn-default" id="show-menu-btn">
      <i class="fa fa-caret-right"></i>
      <i class="fa fa-caret-right"></i>
    </a>

    <a class="btn btn-xs btn-default pull-right" id="hide-search-btn">
      <i class="fa fa-caret-right"></i>
      <i class="fa fa-caret-right"></i>
    </a>
    <a class="btn btn-xs btn-default pull-right" id="show-search-btn">
      <i class="fa fa-caret-left"></i>
      <i class="fa fa-caret-left"></i>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <%= form_tag  batch_evaluations_path, :class => "form-inline" do %>

      <%= render :partial => "layouts/modal_columns", :locals => { :engine_name => '', :model_name => "evaluation", :model_columns => ['place_id','internet','food','drink','service','price','accomodation','noyse','general','created_at','updated_at'] } %>

      <table class="table table-striped table-bordered table-condensed">
        <thead>
          <tr>
            <th class="ac">
              <a class="" data-toggle="modal" href="#modal-columns" title="<%= t(:select_columns, :default => "Select Columns") %>" ><i class="fa fa-th-list"></i></a>
            </th>
            <th>
              <%= check_box_tag :checkall, '' %>
            </th>
            <th  class="bs-col-place" >
              <%= sorting_header("evaluation", "place_id", "") %>
            </th>
            <th <%= visible_column("evaluation", "internet") %> class="bs-col-internet">
              <%= sorting_header("evaluation", "internet", "") %>
            </th>
            <th <%= visible_column("evaluation", "food") %> class="bs-col-food">
              <%= sorting_header("evaluation", "food", "") %>
            </th>
            <th <%= visible_column("evaluation", "drink") %> class="bs-col-drink">
              <%= sorting_header("evaluation", "drink", "") %>
            </th>
            <th <%= visible_column("evaluation", "service") %> class="bs-col-service">
              <%= sorting_header("evaluation", "service", "") %>
            </th>
            <th <%= visible_column("evaluation", "price") %> class="bs-col-price">
              <%= sorting_header("evaluation", "price", "") %>
            </th>
            <th <%= visible_column("evaluation", "accomodation") %> class="bs-col-accomodation">
              <%= sorting_header("evaluation", "accomodation", "") %>
            </th>
            <th <%= visible_column("evaluation", "noyse") %> class="bs-col-noyse">
              <%= sorting_header("evaluation", "noyse", "") %>
            </th>
            <th <%= visible_column("evaluation", "general") %> class="bs-col-general">
              <%= sorting_header("evaluation", "general", "") %>
            </th>

            <!-- Beautiful_scaffold - AddField - Header - Do not remove -->
            <th <%= visible_column("evaluation", "created_at") %> class="bs-col-created_at">
              <%= sorting_header("evaluation", "created_at", "") %>
            </th>
            <th <%= visible_column("evaluation", "updated_at") %> class="bs-col-updated_at">
              <%= sorting_header("evaluation", "updated_at", "") %>
            </th>
            <th colspan="3">
              <label class="checkbox">
                <%= check_box_tag :checkallelt, 'all' %>
                <%= pluralize(@evaluation_scope.count, t('app.models.evaluation.bs_caption', :default => 'evaluation'), t('app.models.evaluation.bs_caption_plural', :default => 'evaluation')) %>
              </label>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @evaluations.each do |evaluation| %>
          <tr class="line-<%= cycle("1","2") %>">
            <td class="ar"><%= evaluation.id %></td>
            <td><%= check_box_tag "ids[]",evaluation.id, false, :class => 'cbbatch' %></td>
            <td   class="bs-col-place <%= align_attribute("string") %>">
                <%= Place.find(evaluation.place_id).name %>
            </td>
            <td <%= visible_column("evaluation", "internet") %> class="bs-col-internet <%= align_attribute("integer") %>">
                <%= evaluation.internet %>
            </td>
            <td <%= visible_column("evaluation", "food") %> class="bs-col-food <%= align_attribute("string") %>">
                <%= evaluation.food %>
            </td>
            <td <%= visible_column("evaluation", "drink") %> class="bs-col-drink <%= align_attribute("string") %>">
                <%= evaluation.drink %>
            </td>
            <td <%= visible_column("evaluation", "service") %> class="bs-col-service <%= align_attribute("integer") %>">
                <%= evaluation.service %>
            </td>
            <td <%= visible_column("evaluation", "price") %> class="bs-col-price <%= align_attribute("integer") %>">
                <%= evaluation.price %>
            </td>
            <td <%= visible_column("evaluation", "accomodation") %> class="bs-col-accomodation <%= align_attribute("integer") %>">
                <%= evaluation.accomodation %>
            </td>
            <td <%= visible_column("evaluation", "noyse") %> class="bs-col-noyse <%= align_attribute("integer") %>">
                <%= evaluation.noyse %>
            </td>
            <td <%= visible_column("evaluation", "general") %> class="bs-col-general <%= align_attribute("integer") %>">
                <%= evaluation.general %>
            </td>
<!-- Beautiful_scaffold - AddField - Column - Do not remove -->
            <td <%= visible_column("evaluation", "created_at") %> class="bs-col-created_at <%= align_attribute("datetime") %>">
              <%= l(evaluation.created_at, :format => :long) %>
            </td>
            <td <%= visible_column("evaluation", "updated_at") %> class="bs-col-updated_at <%= align_attribute("datetime") %>">
              <%= l(evaluation.updated_at, :format => :long) %>
            </td>
            <td class="ac am"><%= link_to '<i class="fa fa-search"></i>'.html_safe, evaluation_path(evaluation), :title => t(:show, :default => "Show") %></td>
            <td class="ac am"><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_evaluation_path(evaluation), :title => t(:edit, :default => "Edit") %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <div class="btn-toolbar">
        <div class="btn-group">
          <% clean_params %>
          <%= will_paginate @evaluations,
                  :inner_window => 0,
                  :outer_window => 0,
                  :previous_label => t(:prev, :default => "Previous"),
                  :next_label => t(:next, :default => "Next") %>

        </div>
        <div class="btn-group pull-right">
          <%= link_to '<i class="fa fa-download"></i> CSV'.html_safe,  evaluations_path(:format => :csv), :class => "btn btn-default" %>
          <%= link_to '<i class="fa fa-download"></i> XML'.html_safe,  evaluations_path(:format => :xml), :class => "btn btn-default" %>
          <%= link_to '<i class="fa fa-download"></i> JSON'.html_safe, evaluations_path(:format => :json), :class => "btn btn-default" %>
          <%= link_to '<i class="fa fa-download"></i> PDF'.html_safe,  evaluations_path(:format => :pdf), :class => "btn btn-default" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
