<h2><%= t(:new, :default => 'New') %> <%= t('app.models.evaluation.bs_caption', :default => 'evaluation') %></h2>

<h3> Rate from 1 to 5 starts the quality of  internet, service, price, accomodation, noyse and general evaluation. Describe the types of food and drink writing it down in their respective fields </h3>

<%= render 'form' %>

<%= link_to t(:back, :default => "Back"), evaluations_path, :class => "btn btn-default" %>
