<h2><%= t(:show, :default => "Show") %> <%= t('app.models.evaluation.bs_caption', :default => 'evaluation') %></h2>

  <p>
    <b><%= t('app.models.evaluation.bs_attributes.internet', :default => 'internet') %>:</b>
      <%= @evaluation.internet %>
  </p>
  <p>
    <b><%= t('app.models.evaluation.bs_attributes.food', :default => 'food') %>:</b>
      <%= @evaluation.food %>
  </p>
  <p>
    <b><%= t('app.models.evaluation.bs_attributes.drink', :default => 'drink') %>:</b>
      <%= @evaluation.drink %>
  </p>
  <p>
    <b><%= t('app.models.evaluation.bs_attributes.service', :default => 'service') %>:</b>
      <%= @evaluation.service %>
  </p>
  <p>
    <b><%= t('app.models.evaluation.bs_attributes.price', :default => 'price') %>:</b>
      <%= @evaluation.price %>
  </p>
  <p>
    <b><%= t('app.models.evaluation.bs_attributes.accomodation', :default => 'accomodation') %>:</b>
      <%= @evaluation.accomodation %>
  </p>
  <p>
    <b><%= t('app.models.evaluation.bs_attributes.noyse', :default => 'noyse') %>:</b>
      <%= @evaluation.noyse %>
  </p>
  <p>
    <b><%= t('app.models.evaluation.bs_attributes.general', :default => 'general') %>:</b>
      <%= @evaluation.general %>
  </p>

<!-- Beautiful_scaffold - AddField - Field - Do not remove -->

<%= link_to t(:edit, :default => "Edit"), edit_evaluation_path(@evaluation), :class => "btn btn-default" %>
<%= link_to t(:back, :default => "Back"), evaluations_path, :class => "btn btn-default" %>

