<h2><%= t(:treeview, :default => 'Treeview') %> <%= t('app.models.evaluation.bs_caption', :default => 'evaluation') %></h2>

<%
namespace_for_url = ""
plural_model_name = "evaluations"
model_name        = "evaluation"
opened_node       = Evaluation.select(:id).all.map{ |g| "'treeelt_" + g.id.to_s + "'" }.join(',').html_safe
%>

<div id="treeview" data-model="<%= model_name %>" data-url="/<%= namespace_for_url %><%= plural_model_name %>/" data-opened="[<%= opened_node %>]">
  <ul>
    <% Evaluation.transaction do %>
    <% ar = Evaluation.where(:evaluation_id => nil) %>
    <% ar = ar.order("position") if Evaluation.column_names.include?("position") %>
      <% for g in ar.all %>
        <%= build_treeview(g, 'evaluations') %>
      <% end %>
    <% end %>
  </ul>
</div>

