= form_for(static_page) do |f|
  - if static_page.errors.any?
    #error_explanation
      %h2
        = pluralize(static_page.errors.count, "error")
        prohibited this static_page from being saved:
      %ul
        - static_page.errors.full_messages.each do |message|
          %li= message
  .actions
    = f.submit
