<h2>About</h2>
<p>This application is destinated to help home officers to find places with their own conditions' preference. </p>
<p>Developed by Vinicius Gesteira. 2017.</p>

<%= link_to t(:back, :default => "Back"), evaluations_path, :class => "btn btn-default" %>
