%h1 Sobre
%p Tem wifi é um serviço desenvolvido para auxiliar pessoas que trabalham por conta própria a encontrarem locais mais apropriados para seu ofício, segundo recomendações feitas por outros
%p Desenvolvido por Vinicius Gesteira sem fins lucrativos. 2017.
