%p#notice= notice
%h1 Static Pages
%table
  %thead
    %tr
      %th{:colspan => "3"}
  %tbody
    - @static_pages.each do |static_page|
      %tr
        %td= link_to 'Show', static_page
        %td= link_to 'Edit', edit_static_page_path(static_page)
        %td= link_to 'Destroy', static_page, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Static Page', new_static_page_path
