.authform
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f|
    %h3 Sign up
    = devise_error_messages!
    .form-group{:required => ""}
      = f.label :name
      = f.text_field :name, :autofocus => true, class: 'form-control'
    .form-group{:required => ""}
      = f.label :username
      = f.text_field :username, :autofocus => true, class: 'form-control'
    .form-group{:required => ""}
      = f.label :email
      = f.email_field :email, class: 'form-control'
    .form-group{:required => ""}
      = f.label :password
      = f.password_field :password, class: 'form-control'
    .form-group{:required => ""}
      = f.label :password_confirmation
      = f.password_field :password_confirmation, class: 'form-control'
    = f.submit 'Sign up', :class => 'button right'
