!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title)
    %meta{:content => "#{content_for?(:description)}", :name => "description"}/
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      - flash.each do |key, value|
        = build_flash(key, value)
    .container
      = yield
      = bb_alert

