
<%= form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
        <% @place.errors.full_messages.each do |msg| %><li><%= msg %></li><% end %>
      </ul>
    </div>
  <% end %>
      <div class="form-group">
      <%= f.label :name, t('app.models.place.bs_attributes.name', :default => 'name').capitalize, :class => "control-label" %>
      <%= f.text_field :name, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :address, t('app.models.place.bs_attributes.address', :default => 'address').capitalize, :class => "control-label" %>
      <%= f.text_field :address, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :city, t('app.models.place.bs_attributes.city', :default => 'city').capitalize, :class => "control-label" %>
      <%= f.text_field :city, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :state, t('app.models.place.bs_attributes.state', :default => 'state').capitalize, :class => "control-label" %>
      <%= f.text_field :state, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :country, t('app.models.place.bs_attributes.country', :default => 'country').capitalize, :class => "control-label" %>
      <%= f.text_field :country, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :type, t('app.models.place.bs_attributes.type', :default => 'type').capitalize, :class => "control-label" %>
      <%= f.text_field :type, :class => "form-control" %>
    </div>
<!-- Beautiful_scaffold - AddField - Do not remove -->
  <div>
    <%= f.submit :class => "btn btn-primary", :data => { :disable_with => t(:saving, :default => "Saving...") } %>
  </div>
<% end %>


