<h2><%= t(:listing, :default => "Listing") %> <%= t('app.models.place.bs_caption_plural', :default => 'place') %></h2>

<p>
  <%= link_to '<i class="fa fa-plus"></i> '.html_safe + t(:new, :default => "New") + ' ' + t('app.models.place.bs_caption', :default => 'place'), new_place_path, :class => "btn btn-default" %>
  <% if Place.columns.map(&:name).include?("place_id") then %>
    <%= link_to '<i class="fa fa-folder-close"></i> '.html_safe + t(:treeview, :default => "Treeview") + ' ' + t('app.models.place.bs_caption', :default => 'place'), treeview_places_path, :class => "btn btn-default" %>
  <% end %>
</p>


<%# Set your scopes below (string in array) %>
<% scopes = [] %>
<% if not scopes.blank? then %>
<div class="btn-toolbar">
  <div class="btn-group">
    <%= link_to "All (#{@place_scope_for_scope.count})", places_path(:scope => ""), :class => "btn btn-default #{((session[:scope][:place].to_s == '') ? 'active' : '')}" %>
    <% for scope in scopes %>
    <%= link_to "#{scope} (#{@place_scope_for_scope.send(scope).count})", places_path(:scope => scope), :class => "btn btn-default #{((session[:scope][:place].to_s == scope) ? 'active' : '')}" %>
    <% end %>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <a class="btn btn-xs btn-default" id="hide-menu-btn">
      <i class="fa fa-caret-left"></i>
      <i class="fa fa-caret-left"></i>
    </a>
    <a class="btn btn-xs btn-default" id="show-menu-btn">
      <i class="fa fa-caret-right"></i>
      <i class="fa fa-caret-right"></i>
    </a>

    <a class="btn btn-xs btn-default pull-right" id="hide-search-btn">
      <i class="fa fa-caret-right"></i>
      <i class="fa fa-caret-right"></i>
    </a>
    <a class="btn btn-xs btn-default pull-right" id="show-search-btn">
      <i class="fa fa-caret-left"></i>
      <i class="fa fa-caret-left"></i>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <%= form_tag  batch_places_path, :class => "form-inline" do %>

      <%= render :partial => "layouts/modal_columns", :locals => { :engine_name => '', :model_name => "place", :model_columns => ['name','address','city','state','country','type','created_at','updated_at'] } %>

      <table class="table table-striped table-bordered table-condensed">
        <thead>
          <tr>
            <th class="ac">
              <a class="" data-toggle="modal" href="#modal-columns" title="<%= t(:select_columns, :default => "Select Columns") %>" ><i class="fa fa-th-list"></i></a>
            </th>
            <th>
              <%= check_box_tag :checkall, '' %>
            </th>
            <th <%= visible_column("place", "name") %> class="bs-col-name">
              <%= sorting_header("place", "name", "") %>
            </th>
            <th <%= visible_column("place", "address") %> class="bs-col-address">
              <%= sorting_header("place", "address", "") %>
            </th>
            <th <%= visible_column("place", "city") %> class="bs-col-city">
              <%= sorting_header("place", "city", "") %>
            </th>
            <th <%= visible_column("place", "state") %> class="bs-col-state">
              <%= sorting_header("place", "state", "") %>
            </th>
            <th <%= visible_column("place", "country") %> class="bs-col-country">
              <%= sorting_header("place", "country", "") %>
            </th>
            <th <%= visible_column("place", "type") %> class="bs-col-type">
              <%= sorting_header("place", "type", "") %>
            </th>

            <!-- Beautiful_scaffold - AddField - Header - Do not remove -->
            <th <%= visible_column("place", "created_at") %> class="bs-col-created_at">
              <%= sorting_header("place", "created_at", "") %>
            </th>
            <th <%= visible_column("place", "updated_at") %> class="bs-col-updated_at">
              <%= sorting_header("place", "updated_at", "") %>
            </th>
            <th colspan="3">
              <label class="checkbox">
                <%= check_box_tag :checkallelt, 'all' %>
                <%= pluralize(@place_scope.count, t('app.models.place.bs_caption', :default => 'place'), t('app.models.place.bs_caption_plural', :default => 'place')) %>
              </label>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @places.each do |place| %>
          <tr class="line-<%= cycle("1","2") %>">
            <td class="ar"><%= place.id %></td>
            <td><%= check_box_tag "ids[]",place.id, false, :class => 'cbbatch' %></td>
            <td <%= visible_column("place", "name") %> class="bs-col-name <%= align_attribute("string") %>">
                <%= place.name %>
            </td>
            <td <%= visible_column("place", "address") %> class="bs-col-address <%= align_attribute("string") %>">
                <%= place.address %>
            </td>
            <td <%= visible_column("place", "city") %> class="bs-col-city <%= align_attribute("string") %>">
                <%= place.city %>
            </td>
            <td <%= visible_column("place", "state") %> class="bs-col-state <%= align_attribute("string") %>">
                <%= place.state %>
            </td>
            <td <%= visible_column("place", "country") %> class="bs-col-country <%= align_attribute("string") %>">
                <%= place.country %>
            </td>
            <td <%= visible_column("place", "type") %> class="bs-col-type <%= align_attribute("string") %>">
                <%= place.type %>
            </td>
<!-- Beautiful_scaffold - AddField - Column - Do not remove -->
            <td <%= visible_column("place", "created_at") %> class="bs-col-created_at <%= align_attribute("datetime") %>">
              <%= l(place.created_at, :format => :long) %>
            </td>
            <td <%= visible_column("place", "updated_at") %> class="bs-col-updated_at <%= align_attribute("datetime") %>">
              <%= l(place.updated_at, :format => :long) %>
            </td>
            <td class="ac am"><%= link_to '<i class="fa fa-search"></i>'.html_safe, place_path(place), :title => t(:show, :default => "Show") %></td>
            <td class="ac am"><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_place_path(place), :title => t(:edit, :default => "Edit") %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <div class="btn-toolbar">
        <div class="btn-group">
          <% clean_params %>
          <%= will_paginate @places,
                  :inner_window => 0,
                  :outer_window => 0,
                  :previous_label => t(:prev, :default => "Previous"),
                  :next_label => t(:next, :default => "Next") %>

        </div>
        <div class="btn-group pull-right">
          <%= link_to '<i class="fa fa-download"></i> CSV'.html_safe,  places_path(:format => :csv), :class => "btn btn-default" %>
          <%= link_to '<i class="fa fa-download"></i> XML'.html_safe,  places_path(:format => :xml), :class => "btn btn-default" %>
          <%= link_to '<i class="fa fa-download"></i> JSON'.html_safe, places_path(:format => :json), :class => "btn btn-default" %>
          <%= link_to '<i class="fa fa-download"></i> PDF'.html_safe,  places_path(:format => :pdf), :class => "btn btn-default" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-3">
    <%= search_form_for @q, :url => search_places_path, :html => { :class => "well well-small search-and-filter" }, :method => :post do |f| %>

      <h3><%= t("search_and_filter", :default => "Search & filter") %></h3>

      <%= ransack_field("place", "name", f, "Name") %>
      <%= ransack_field("place", "address", f, "Address") %>
      <%= ransack_field("place", "city", f, "City") %>
      <%= ransack_field("place", "state", f, "State") %>
      <%= ransack_field("place", "country", f, "Country") %>
      <%= ransack_field("place", "type", f, "Type") %>


      <!-- Beautiful_scaffold - AddField - Search - Do not remove -->

      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
          </div>


      <%= f.submit t(:filter, :default => "Filter"), :class => "btn btn-primary" %>
      <%= link_to  t(:cancel, :default => "Cancel"), places_path(:nosearch => "ok"), :class => "btn btn-default" %>
    <% end %>
  </div>
</div>
