<h2><%= t(:new, :default => 'New') %> <%= t('app.models.place.bs_caption', :default => 'place') %></h2>

<%= render 'form' %>

<%= link_to t(:back, :default => "Back"), places_path, :class => "btn btn-default" %>
