<h2><%= t(:show, :default => "Show") %> <%= t('app.models.place.bs_caption', :default => 'place') %></h2>

  <p>
    <b><%= t('app.models.place.bs_attributes.name', :default => 'name') %>:</b>
      <%= @place.name %>
  </p>
  <p>
    <b><%= t('app.models.place.bs_attributes.address', :default => 'address') %>:</b>
      <%= @place.address %>
  </p>
  <p>
    <b><%= t('app.models.place.bs_attributes.city', :default => 'city') %>:</b>
      <%= @place.city %>
  </p>
  <p>
    <b><%= t('app.models.place.bs_attributes.state', :default => 'state') %>:</b>
      <%= @place.state %>
  </p>
  <p>
    <b><%= t('app.models.place.bs_attributes.country', :default => 'country') %>:</b>
      <%= @place.country %>
  </p>
  <p>
    <b><%= t('app.models.place.bs_attributes.type', :default => 'type') %>:</b>
      <%= @place.type %>
  </p>

<!-- Beautiful_scaffold - AddField - Field - Do not remove -->

<%= link_to t(:edit, :default => "Edit"), edit_place_path(@place), :class => "btn btn-default" %>
<%= link_to t(:back, :default => "Back"), places_path, :class => "btn btn-default" %>

