<h2><%= t(:treeview, :default => 'Treeview') %> <%= t('app.models.place.bs_caption', :default => 'place') %></h2>

<%
namespace_for_url = ""
plural_model_name = "places"
model_name        = "place"
opened_node       = Place.select(:id).all.map{ |g| "'treeelt_" + g.id.to_s + "'" }.join(',').html_safe
%>

<div id="treeview" data-model="<%= model_name %>" data-url="/<%= namespace_for_url %><%= plural_model_name %>/" data-opened="[<%= opened_node %>]">
  <ul>
    <% Place.transaction do %>
    <% ar = Place.where(:place_id => nil) %>
    <% ar = ar.order("position") if Place.column_names.include?("position") %>
      <% for g in ar.all %>
        <%= build_treeview(g, 'places') %>
      <% end %>
    <% end %>
  </ul>
</div>

