%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      = link_to 'TEM WIFI?', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        = render 'layouts/nav_links_for_auth'
