!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Tem wifi?
    = stylesheet_link_tag 'registrant-manifest', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'registrant-manifest', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = yield
