<!DOCTYPE html>
<html lang="<%= (I18n.default_locale) %>">
  <head>
    <meta charset="utf-8">
    <title>Temwifi?</title>

    <meta name="description" content="Temwifi?">
    <meta name="author" content="Vinicius Lins Gesteira">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag "application-bs" %>
    <%= javascript_include_tag "application-bs" %>

    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body style="display:none;">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="#">
            Temwifi?
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <%= render :partial => "layouts/beautiful_menu" %>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <li>
              <!-- Beautiful_scaffold - Signin - Do not remove -->
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <ul class="nav nav-pills nav-stacked">
            <%= render :partial => "layouts/beautiful_menu" %>
          </ul>
        </div>
        <div class="col-md-10">
          <% if not flash[:notice].blank? then %>
            <div class="alert alert-info">
              <a class="close" data-dismiss="alert" href="#">×</a>
              <h4 class="alert-heading">Info : </h4>
              <%= flash[:notice] %>
            </div>
          <% end %>
          <% if not flash[:error].blank? then %>
            <div class="alert alert-danger">
              <a class="close" data-dismiss="alert" href="#">×</a>
              <h4 class="alert-heading">Error : </h4>
              <%= flash[:error] %>
            </div>
          <% end %>
          <div>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <div class="loader" style="display:none">
      <div class="circle"></div>
      <div class="circle1"></div>
    </div>

    <!-- Beautiful_scaffold - Modal - Do not remove -->

    <script type="text/javascript">
      <% if not @opened_modal.blank? then %>
      $('<%= @opened_modal %>').modal('show');
      <% end %>
    </script>
    <footer>
      <p>This site is best viewed on Firefox.</p>
      <p>Vinicius Gesteira. 2017.</p>
    </footer>
  </body>
</html>
